/** Java 2 Access Control Policy for the JAAS Print Server Application **/

/* grant the LoginModule permissions */
grant codebase "file:./out/PrintServerLoginModule.jar" {
    permission javax.security.auth.AuthPermission "modifyPrincipals";
};

/* grant the PrintServer permissions */
grant codebase "file:./out/PrintServer.jar" {
   permission javax.security.auth.AuthPermission "createLoginContext.PrintServer";
   permission javax.security.auth.AuthPermission "doAsPrivileged";
   permission java.lang.RuntimePermission "readFileDescriptor";
   permission java.lang.RuntimePermission "writeFileDescriptor";
};

grant codebase "file:./out/PrintServerActions.jar", Principal printserver.principals.PrintServerPrincipal "concierge" {
   permission printserver.permissions.PrintServerPermission "start";
   permission printserver.permissions.PrintServerPermission "stop";
   permission printserver.permissions.PrintServerPermission "reset";
   permission printserver.permissions.PrintServerPermission "readconfig";
   permission printserver.permissions.PrintServerPermission "setconfig";
};

grant codebase "file:./out/PrintServerActions.jar", Principal printserver.principals.PrintServerPrincipal "poweruser" {
   permission printserver.permissions.PrintServerPermission "topqueue";
   permission printserver.permissions.PrintServerPermission "reset";
};

grant codebase "file:./out/PrintServerActions.jar", Principal printserver.principals.PrintServerPrincipal "normaluser" {
   permission printserver.permissions.PrintServerPermission "print";
   permission printserver.permissions.PrintServerPermission "queue";
   permission printserver.permissions.PrintServerPermission "status";
};