/** Java 2 Access Control Policy for the JAAS Print Server Application **/

/* grant the LoginModule permissions */
grant codebase "file:./PrintServerLoginModule.jar" {
    permission javax.security.auth.AuthPermission "modifyPrincipals";
};

/* grant the PrintServer permissions */
grant codebase "file:./PrintServer.jar" {
   permission javax.security.auth.AuthPermission "createLoginContext.PrintServer";
   permission javax.security.auth.AuthPermission "doAsPrivileged";
};

grant codebase "file:./PrintServerActions.jar", Principal printserver.principal.PrintServerPrincipal "sysadmin" {
   permission printserver.PrintServerPermission "print";
   permission printserver.PrintServerPermission "queue";
   permission printserver.PrintServerPermission "topqueue";
   permission printserver.PrintServerPermission "start";
   permission printserver.PrintServerPermission "stop";
   permission printserver.PrintServerPermission "reset";
   permission printserver.PrintServerPermission "status";
   permission printserver.PrintServerPermission "readconfig";
   permission printserver.PrintServerPermission "setconfig";
};

grant codebase "file:./PrintServerActions.jar", Principal printserver.principal.PrintServerPrincipal "concierge" {
   permission printserver.PrintServerPermission "start";
   permission printserver.PrintServerPermission "stop";
   permission printserver.PrintServerPermission "reset";
   permission printserver.PrintServerPermission "readconfig";
   permission printserver.PrintServerPermission "setconfig";
};

grant codebase "file:./PrintServerActions.jar", Principal printserver.principal.PrintServerPrincipal "poweruser" {
   permission printserver.PrintServerPermission "topqueue";
   permission printserver.PrintServerPermission "reset";
};

grant codebase "file:./PrintServerActions.jar", Principal printserver.principal.PrintServerPrincipal "normaluser" {
   permission printserver.PrintServerPermission "print";
   permission printserver.PrintServerPermission "queue";
   permission printserver.PrintServerPermission "status";
};